:root {
  --light: #b0a8b9;
  --red: #c34a36;
  --move: #845ec2;
  --dark: #4b4453;
  --orange: #ff8066;
  --navColor: #3b3939;
  --borderColor: #d9d9d9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
